pais{background-color: #303845; display: block;}
moneda{color:greenyellow}
prefijo_telefonico{color:blue}
idioma{color:red}
departamento{background-color: firebrick; display: block;}
cabecera{color:orange}
habitantes{color:white}
altura{color:white}
area_territorial{color:white; background-color: black;}